.calendar-container {
  .rbc-time-view {
    border: none;
  }

  .rbc-time-header {
    display: none;
  }

  .rbc-time-content {
    border-top: none;
  }

  .rbc-today {
    background-color: transparent;
  }

  .rbc-timeslot-group {
    align-items: center;
    flex-flow: initial;
  }

  .rbc-timeslot-group {
    border-bottom: 0.1rem solid #dfe3e8;
  }

  .rbc-day-slot .rbc-time-slot {
    border-top: 0.1rem solid #dfe3e8;
  }

  .rbc-day-slot .rbc-event {
    border-radius: 3px;
    background-color: #1f458d;
    margin-left: 5px;
    align-items: center;
    flex-flow: initial;
    border: 0.1rem solid #dfe3e8;
  }

  .rbc-day-slot .rbc-event.rbc-selected {
    background-color: #1f458d;
  }
  .rbc-day-slot .rbc-event-content {
    line-height: inherit;
    height: auto;
  }

  .rbc-day-slot .rbc-event-label {
    padding-right: 10px;
    flex-flow: initial;
    align-items: center;
    height: auto;
    min-height: auto;
  }

  .rbc-current-time-indicator {
    height: 2px;
    opacity: 0.6;
  }
}
